@model IEnumerable<StorageView>
@{
    ViewBag.Title = "Storage list";
}

<table class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Entry user</th>
            <th>Entry date</th>
            <th class="text-right">Count</th>
            <th class="text-right">Total price</th>
            <th class="text-right">Total amount</th>
            <th class="text-center">Inspection</th>
            <th>Inspection user</th>
            <th>Inspection date</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var storage in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@storage.StorageNo.PadZero(Length.StorageNo)">@storage.StorageNo.PadZero(Length.StorageNo)</a></td>
                <td>@storage.EntryUserId.PadZero(Length.UserId)</td>
                <td>@storage.EntryAt.FormatTime()</td>
                <td class="text-right">@storage.DetailCount.FormatNumber()</td>
                <td class="text-right">@storage.TotalPrice.FormatNumber()</td>
                <td class="text-right">@storage.TotalAmount.FormatNumber()</td>
                <td class="text-center">
                    @{
                        if (storage.InspectionUserId.HasValue)
                        {
                            <span class="label label-success">OK</span>
                        }
                        else
                        {
                            <span class="label label-warning">NG</span>
                        }
                    }
                </td>
                <td>@storage.InspectionUserId.PadZero(Length.UserId)</td>
                <td>@storage.InspectionAt.FormatTime()</td>
                <td class="text-center">
                    <form asp-action="Delete" asp-route-id="@storage.StorageNo.PadZero(Length.StorageNo)" method="post" class="form-inline" role="form">
                        <button type="submit" class="btn btn-danger btn-xs confirm" data-confirm-message="Are you sure?">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
